<main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Reportes</h2>
                    </div>
                </div>
            </div>
            <select class="form-select" aria-label="Default select example" id="selectCustomer">
                <option selected>Seleccione un cliente</option>
                <% for (let i=0; i < clients.length; i++) { %>
                    <option value="<%= clients[i].customerNumber %>">
                        <%= clients[i].customerName %>
                    </option>
                    <% } %>
            </select>
            <div class="d-flex justify-content-center pt-2">
                <a href="/reports/8">

                    <button type="button" class="btn btn-primary centered" id="btnReporte">Obtener Reporte</button>
                </a>
            </div>
            <table class="table table-striped table-hover" id="tableSales">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</main>