<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav width="100%" style="background-color:black;color: white;"><p>a</p></nav>
  </body>
</html>
