.tg {
    width: 40%;
    border-collapse: collapse;
    border-color: #C44D58;
    border-spacing: 0;
}

.tg td {
    background-color: #F9CDAD;
    border-color: #C44D58;
    border-style: solid;
    border-width: 1px;
    color: #002b36;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px;
    word-break: normal;
}

.tg th {
    background-color: #FE4365;
    border-color: #C44D58;
    border-style: solid;
    border-width: 1px;
    color: #fdf6e3;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 10px;
    word-break: normal;
}

.tg .tg-6t3r {
    font-style: italic;
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg .tg-fymr {
    border-color: inherit;
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg .tg-4xff {
    background-color: #FFA4A0;
    border-color: inherit;
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-brdm {
    background-color: #FFA4A0;
    border-color: inherit;
    text-align: left;
    vertical-align: top
}